# Git
.git
.gitignore

# Docker
Dockerfile

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary
*.test

# Code coverage and test artifacts
*.out
coverage.*
*.coverprofile
profile.cov

# Go workspace file
go.work
go.work.sum

# Env file
.env

# Editor/IDE folders
.idea/
.vscode/

# Documentation
*.md